.material-icons.warning {
  color: #f0ad4e;
}
.material-icons.error {
  color: #d9534f;
}

.NodeDisplay .drag-handle {
  display: flex;
  color: #343a40;
  cursor: move;
}
.NodeDisplay .delete {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #d9534f;
  color: #343a40;
}
.NodeDisplay .delete .material-icons {
  font-size: 18px;
}
.NodeDisplay .delete:hover {
  background-color: #d43b37;
}
.NodeDisplay .delete:active {
  background-color: #dd6461;
}
.NodeDisplay .delete:disabled {
  background-color: #c58f8e;
}
.NodeDisplay .copy {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #5cb85c;
  color: #343a40;
}
.NodeDisplay .copy .material-icons {
  font-size: 18px;
}
.NodeDisplay .copy:hover {
  background-color: #4bad4b;
}
.NodeDisplay .copy:active {
  background-color: #6cbf6c;
}
.NodeDisplay .copy:disabled {
  background-color: #8fb48f;
}
.NodeDisplay .expand-collapse {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.NodeDisplay .expand-collapse .material-icons {
  font-size: 18px;
}
.NodeDisplay .expand-collapse:hover {
  background-color: #c95f17;
}
.NodeDisplay .expand-collapse:active {
  background-color: #e6772d;
}
.NodeDisplay .expand-collapse:disabled {
  background-color: #c08e6d;
}
.NodeDisplay .expand-collapse:disabled {
  color: #868e96;
}
.NodeDisplay .icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.NodeDisplay input[type=text] {
  background-color: #fff;
  border: none;
  outline: none;
}
.NodeDisplay.group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 5px;
  background-color: #abb6c2;
}
.NodeDisplay.group .header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  min-height: 40px;
  gap: 5px;
}
.NodeDisplay.group .summary {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.NodeDisplay.group .GroupName {
  flex-grow: 1;
}
.NodeDisplay.group .GroupName .value {
  font-size: 20px;
  color: #343a40;
}
.NodeDisplay.group .GroupName.unnamed span.value {
  color: #868e96;
}
.NodeDisplay.group .body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 5px;
  background-color: #4E5D6C;
  border-radius: 5px;
  padding: 5px;
  flex-grow: 1;
  gap: 5px;
}
.NodeDisplay.group .body .children-display {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  align-self: stretch;
  gap: 5px;
}
.NodeDisplay.group .body .children-display .drag-insert-point {
  height: 10px;
  border-radius: 5px;
  background-color: #d5dbe1;
}
.NodeDisplay.group .footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.NodeDisplay.group .footer .create {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #5cb85c;
  color: #343a40;
}
.NodeDisplay.group .footer .create .material-icons {
  font-size: 18px;
}
.NodeDisplay.group .footer .create:hover {
  background-color: #4bad4b;
}
.NodeDisplay.group .footer .create:active {
  background-color: #6cbf6c;
}
.NodeDisplay.group .footer .create:disabled {
  background-color: #8fb48f;
}
.NodeDisplay.building {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  gap: 5px;
  border-radius: 5px;
  background-color: #abb6c2;
}
.NodeDisplay.building .section.spaced {
  gap: 10px;
}
.NodeDisplay.building .name {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: text;
  min-width: 250px;
}
.NodeDisplay.building .recipe {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  min-width: 250px;
}
.NodeDisplay.building .recipe.no-choice {
  cursor: default;
}
.NodeDisplay.building .section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.NodeDisplay .balance {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.NodeDisplay .balance .item-entries {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}
.NodeDisplay .balance .entry-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.NodeDisplay .balance .entry-row .balance-value {
  text-align: right;
}
.NodeDisplay .balance .entry-row.negative .balance-value {
  color: #d9534f;
}
.NodeDisplay .balance .entry-row.positive .balance-value {
  color: #3b873b;
}
.NodeDisplay .balance.vertical {
  flex-direction: column;
  border-radius: 5px;
  background-color: #abb6c2;
  padding: 5px;
  gap: 5px;
}
.NodeDisplay .balance.vertical .item-entries {
  flex-direction: column;
  gap: 5px;
}
.NodeDisplay .balance.vertical .entry-row .balance-value {
  min-width: 3em;
}
.NodeDisplay .balance.horizontal {
  flex-direction: row-reverse;
  gap: 10px;
}
.NodeDisplay .balance.horizontal .item-entries {
  flex-direction: row;
  gap: 10px;
}
.NodeDisplay .balance.horizontal .entry-row {
  gap: 2px;
}
.NodeDisplay .ChooseFromList {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.NodeDisplay .ChooseFromList .available {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  max-height: 500px;
  min-width: 300px;
  overflow-y: auto;
  background-color: #4E5D6C;
  color: #9ea5ab;
  border: 2px solid #DF691A;
  border-radius: 2px;
}
.NodeDisplay .ChooseFromList .available .available-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
}
.NodeDisplay .ChooseFromList .available .available-item.selected {
  background-color: #abb6c2;
  color: #343a40;
}
.NodeDisplay .ClockSpeed {
  width: 70px;
}
.NodeDisplay .Purity {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 90px;
}
.NodeDisplay .Purity .ChooseFromList {
  flex-shrink: 1;
  min-width: 0;
}
.NodeDisplay .Purity .ChooseFromList input[type=text] {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.NodeDisplay .MultiPurity {
  width: 70px;
}
.NodeDisplay .icon.impure-node {
  color: #d9534f;
}
.NodeDisplay .icon.normal-node {
  color: #f0ad4e;
}
.NodeDisplay .icon.pure-node {
  color: #5cb85c;
}
.NodeDisplay .StationConsumption {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 70px;
}
.NodeDisplay .StationConsumption .current-consumption {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}
.NodeDisplay .StationConsumption span.current-consumption {
  cursor: text;
}
.NodeDisplay .VirtualCopies {
  width: 60px;
}
.NodeDisplay .VirtualCopies .value {
  text-align: right;
}
.NodeDisplay .BuildError {
  cursor: pointer;
}

.hide-empty-balances .balance .entry-row.neutral {
  display: none;
}
.hide-empty-balances .balance .entry-row.neutral.power-entry {
  display: flex;
}

body {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  font-family: "Rubik", "Sans";
  background-color: #4E5D6c;
  color: #343a40;
  font-size: 18px;
}

input {
  font-family: "Rubik", "Sans";
  font-size: 18px;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}
.App .navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  background-color: #DF691A;
  padding: 10px;
}
.App .navbar .appheader {
  font-family: "Satisfontory", "Rubik", "Sans";
  background: linear-gradient(to top, #ADC8DD, #FEFFFE, #E2E9EF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
  line-height: 40px;
}
.App .menubar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  background-color: #abb6c2;
}
.App .menubar .section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.App .menubar .unredo {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .menubar .unredo .material-icons {
  font-size: 18px;
}
.App .menubar .unredo:hover {
  background-color: #c95f17;
}
.App .menubar .unredo:active {
  background-color: #e6772d;
}
.App .menubar .unredo:disabled {
  background-color: #c08e6d;
}
.App .menubar .unredo:disabled {
  color: #868e96;
}
.App .menubar .open-world {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .menubar .open-world .material-icons {
  font-size: 18px;
}
.App .menubar .open-world:hover {
  background-color: #c95f17;
}
.App .menubar .open-world:active {
  background-color: #e6772d;
}
.App .menubar .open-world:disabled {
  background-color: #c08e6d;
}
.App .menubar .open-world:disabled {
  color: #868e96;
}
.App .menubar .choose-database {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.App .menubar .choose-database .material-icons {
  font-size: 18px;
}
.App .menubar .choose-database:hover {
  background-color: #c95f17;
}
.App .menubar .choose-database:active {
  background-color: #e6772d;
}
.App .menubar .choose-database:disabled {
  background-color: #c08e6d;
}
.App .menubar .choose-database:disabled {
  color: #868e96;
}
.App .menubar .settings {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .menubar .settings .material-icons {
  font-size: 18px;
}
.App .menubar .settings:hover {
  background-color: #c95f17;
}
.App .menubar .settings:active {
  background-color: #e6772d;
}
.App .menubar .settings:disabled {
  background-color: #c08e6d;
}
.App .menubar .settings:disabled {
  color: #868e96;
}
.App .menubar .bug-report {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
  text-decoration: none;
}
.App .menubar .bug-report .material-icons {
  font-size: 18px;
}
.App .menubar .bug-report:hover {
  background-color: #c95f17;
}
.App .menubar .bug-report:active {
  background-color: #e6772d;
}
.App .menubar .bug-report:disabled {
  background-color: #c08e6d;
}
.App .menubar .bug-report:disabled {
  color: #868e96;
}
.App .menubar .empty-balance-toggle {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .menubar .empty-balance-toggle .material-icons {
  font-size: 18px;
}
.App .menubar .empty-balance-toggle:hover {
  background-color: #c95f17;
}
.App .menubar .empty-balance-toggle:active {
  background-color: #e6772d;
}
.App .menubar .empty-balance-toggle:disabled {
  background-color: #c08e6d;
}
.App .menubar .empty-balance-toggle:disabled {
  color: #868e96;
}
.App .menubar .empty-balance-toggle input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
.App .appbody {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
  padding: 10px;
}
.App .overlay-window {
  position: fixed;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  width: 800px;
  left: 50%;
  max-height: calc(100vh - 140px);
  margin-left: -400px;
  top: 70px;
  background-color: #abb6c2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6274509804), -2px -2px 10px rgba(0, 0, 0, 0.5019607843);
  flex-direction: column;
  align-items: stretch;
}
.App .overlay-window.hide {
  display: none;
}
.App .overlay-window .close-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App .overlay-window .close-bar h3 {
  margin: 0;
  font-size: 21px;
}
.App .overlay-window .world-list,
.App .overlay-window .database-list,
.App .overlay-window .settings-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
}
.App .overlay-window .right-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.App .overlay-window .world-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9ea5ab;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}
.App .overlay-window .database-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9ea5ab;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}
.App .overlay-window .database-list-row.deprecated {
  background-color: #a18f76;
}
.App .overlay-window .database-list-row .version-namedesc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.App .overlay-window .database-list-row .version-namedesc .version-name {
  width: 100px;
  flex-shrink: 0;
}
.App .overlay-window .database-list-row .choose-db {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .overlay-window .database-list-row .choose-db .material-icons {
  font-size: 18px;
}
.App .overlay-window .database-list-row .choose-db:hover {
  background-color: #c95f17;
}
.App .overlay-window .database-list-row .choose-db:active {
  background-color: #e6772d;
}
.App .overlay-window .database-list-row .choose-db:disabled {
  background-color: #c08e6d;
}
.App .overlay-window .database-list-row .choose-db:disabled {
  color: #868e96;
}
.App .overlay-window.user-settings h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
}
.App .overlay-window .setting-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App .overlay-window .setting-row.toggle {
  cursor: pointer;
}
.App .overlay-window .setting-group {
  display: flex;
  flex-direction: column;
}
.App .overlay-window .new-world {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #5cb85c;
  color: #343a40;
}
.App .overlay-window .new-world .material-icons {
  font-size: 18px;
}
.App .overlay-window .new-world:hover {
  background-color: #4bad4b;
}
.App .overlay-window .new-world:active {
  background-color: #6cbf6c;
}
.App .overlay-window .new-world:disabled {
  background-color: #8fb48f;
}
.App .overlay-window .delete-world {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #d9534f;
  color: #343a40;
}
.App .overlay-window .delete-world .material-icons {
  font-size: 18px;
}
.App .overlay-window .delete-world:hover {
  background-color: #d43b37;
}
.App .overlay-window .delete-world:active {
  background-color: #dd6461;
}
.App .overlay-window .delete-world:disabled {
  background-color: #c58f8e;
}
.App .overlay-window .close {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
}
.App .overlay-window .close .material-icons {
  font-size: 18px;
}
.App .overlay-window .close:hover {
  background-color: #c95f17;
}
.App .overlay-window .close:active {
  background-color: #e6772d;
}
.App .overlay-window .close:disabled {
  background-color: #c08e6d;
}
.App .overlay-window .close:disabled {
  color: #868e96;
}
.App .overlay-window .show-deprecated {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #DF691A;
  color: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.App .overlay-window .show-deprecated .material-icons {
  font-size: 18px;
}
.App .overlay-window .show-deprecated:hover {
  background-color: #c95f17;
}
.App .overlay-window .show-deprecated:active {
  background-color: #e6772d;
}
.App .overlay-window .show-deprecated:disabled {
  background-color: #c08e6d;
}
.App .overlay-window .show-deprecated:disabled {
  color: #868e96;
}
.App .overlay-delete-window {
  position: fixed;
  z-index: 2;
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  gap: 20px;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 130px;
  background-color: #abb6c2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6274509804), -2px -2px 10px rgba(0, 0, 0, 0.5019607843);
  flex-direction: column;
  align-items: stretch;
}
.App .overlay-delete-window h2,
.App .overlay-delete-window h3 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
  text-align: center;
}
.App .overlay-delete-window h2 {
  font-size: 27px;
}
.App .overlay-delete-window h3 {
  font-size: 21px;
}
.App .overlay-delete-window .button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.App .overlay-delete-window .cancel {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #5cb85c;
  color: #343a40;
  font-size: 20px;
  font-weight: bold;
  width: 130px;
  height: 35px;
}
.App .overlay-delete-window .cancel .material-icons {
  font-size: 18px;
}
.App .overlay-delete-window .cancel:hover {
  background-color: #4bad4b;
}
.App .overlay-delete-window .cancel:active {
  background-color: #6cbf6c;
}
.App .overlay-delete-window .cancel:disabled {
  background-color: #8fb48f;
}
.App .overlay-delete-window .cancel .material-icons {
  font-size: 24px;
  font-weight: bold;
}
.App .overlay-delete-window .delete-forever {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  min-width: 30px;
  background-color: #d9534f;
  color: #343a40;
  font-size: 20px;
  font-weight: bold;
  width: 130px;
  height: 35px;
}
.App .overlay-delete-window .delete-forever .material-icons {
  font-size: 18px;
}
.App .overlay-delete-window .delete-forever:hover {
  background-color: #d43b37;
}
.App .overlay-delete-window .delete-forever:active {
  background-color: #dd6461;
}
.App .overlay-delete-window .delete-forever:disabled {
  background-color: #c58f8e;
}
.App .overlay-delete-window .delete-forever .material-icons {
  font-size: 24px;
  font-weight: bold;
}

.ClickEdit {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.ClickEdit .value {
  flex: 1 1;
  min-width: 0;
}
.ClickEdit span.value {
  cursor: text;
}
